#wrapper {
    height: 30vh;
    width: 90vw;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 15;
    padding: 10;
}
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
    height: fit-content;
    width: 100vw;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 30% 70% */
}

#maprep{
    width: 100vw;
    border: 1px solid blueviolet;
    display: flex;
}

#map{
    border: 1px solid black;
    height: 30vh;
    width: 100vw;
    display: flex;
    margin: 15;
}

#sensor_value {
    text-align: center;
    width: fit-content;
    border: 1px solid green;
    float: left;
    margin: 10;
    padding: 5;
}

#mean{
    float: top;
}

#title{
    border: 1px solid black;
    font-size: 30;
    text-align: center;
}

#wrapper2 {
    padding: 40;
    display: flex;
    text-align: center;
    border: 5px solid green;
    flex-wrap: wrap;
    height: fit-content;
}

#sensor_chart {
    margin: 40;
    display: flex;
    width: fit-content;
    border: 1px solid black;
    align-items: flex-end;
}

canvas{
  width: fit-content; 
  height: 450;
}

  @media (max-width: 600px) {
    #map{
      width: 90vw;
    }
    #title{
      font-size: 20;
      text-align: center;
    }

    #maprep {
      display: flex;
      flex-direction: column;
    }
    #wrapper {
      height: fit-content;
    }
    #sensor_value {
      height: fit-content;
      font-size: 10;
      width: 100vw;
    }
    #wrapper2{
      padding: 0;
      flex-direction: column;
    }
    canvas{
      width: 300;
    }
    #sensor_chart {
      margin: 20;
      width: fit-content;
      border: 1px solid black;
      align-items: flex-end;
    }
  }