#wrapper {
    margin: 20px;
    height: 90%;
    border: 1px solid black;
    overflow: auto;
    float: right;
    display: grid;
    grid-template-columns: 50% 50%;
}

#main {
    height: 150%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 30% 70%
}

#maprep{
    border: 1px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#map{
    border: 1px solid black;
    height:90%;
    float: left;
    margin: 20px;
}

#sensor_value {
    text-align: center;
    border: 1px solid green;
    margin: 10px;
}

#mean{
    float: top;
}

#title{
    font-size: 30;
    text-align: center;
}

#wrapper2 {
    display: grid;
    text-align: center;
    border: 5px solid green;
    grid-template-columns: 50% auto;
}

#sensor_chart {
    margin: 20px;
    border: 1px solid black;
    height: fit-content;
}
 /* * The sidebar menu 
 .sidenav {
    height: 100%; 
    width: 160px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  /* The navigation menu links 
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color 
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content 
  .main {
    margin-left: auto; /* Same as the width of the sidebar 
    padding: 0px 10px;
    float: right;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }  */