#wrapper {
    height: fit-content;
    width: 40vW;
    border-style: solid;
    border-color: rgb(14, 82, 23, .1) ;
    border-left-style: solid;
    border-left-color: rgb(14, 82, 23);
    display: grid;
    grid-template-columns: 50% 50%;
}
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
    height: fit-content;
    width: 100vw;
    /* grid-template-rows: 30% 70% */
}

#maprep{
    width: 100vw;
    display: grid;
    grid-template-columns: 33% 40% 23%;
    grid-column-gap: 50px;
    margin: 10;
}

#map{
    border: 1px solid black;
    height: 30vh;
    width: 33vw;
}

#alert {
  width: 18vw;
  height: 30vh;
  padding: 10;
  border-style: solid;
  border-color: rgb(14, 82, 23, .1) ;
  border-left-style: solid;
  border-left-color: rgb(14, 82, 23);
}

#sensor_value {
    text-align: center;
    width: 18vw;
    height: fit-content;
    border-style: solid;
    border-color: rgb(14, 82, 23, .1) ;
    border-left-style: solid;
    border-left-color: rgb(14, 82, 23);
    float: left;
    margin: 10;
}

#mean{
    float: top;
}

#title{
    margin: 15;
    font-size: 30;
    margin-bottom: 30;
}


#wrapper2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    text-align: center;
    height: fit-content;
    margin: 10;
}

#sensor_chart {
    float: left;
    width: fit-content;
    border-style: solid;
    border-color: rgb(14, 82, 23, .1) ;
    border-left-style: solid;
    border-left-color: rgb(14, 82, 23);
}

canvas{
  margin: 10;
  width: 900; 
  height: 500;
}

  @media (max-width: 600px) {
    #map{
      width: 90vw;
    }
    #title{
      font-size: 20;
      text-align: center;
    }

    #maprep {
      display: flex;
      flex-direction: column;
    }
    #wrapper {
      width: fit-content;
      height: fit-content;
    }
    #sensor_value {
      height: fit-content;
      font-size: 10;
      width: 80vw;
    }
    #wrapper2{
      padding: 0;
      flex-direction: column;
    }
    canvas{
      width: 300;
    }
    #sensor_chart {
      margin: 20;
      width: fit-content;
      border: 1px solid black;
      align-items: flex-end;
    }
  }