<html>

<head>
    <title>
        Anomaly
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/anomaly.css') }}">
   <!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"> -->
</head>

<body>
    <header>
        <h1 style='text-align:center'>
            Anomalia {{anomaly.anomaly_id}} su sensore {{anomaly.sensor_id}}
        </h1>
    </header>
    {% set src = '/img/Future Values Sensor'~anomaly.sensor_id~'.png' %}
    <div id = anomaly>
        <img src="{{ url_for('static', filename = src) }}">
    </div>
    <footer>
    </footer>


</body>

</html>