<html>

<head>
    <title>
        Insert
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/insert.css') }}">
</head>

<body>
    <header>
        <h1 style='text-align:center'>
            Insert Sensor and Values for Winery 3
        </h1>
    </header>
    <div id = 'main'>
    <form method="POST" action="{{ url_for('insert') }}">
        <label>Sensor ID:</label><input type="text" name="sensor_id">
        <label>Sensor Type:</label><input type = "text" name="sensor_type">
        <label>Value:</label><input type="text" name="value">
        <br>
        <button type="submit">Submit</button>
    </form>

    </div>

    <footer>
        <a href="/">Home Page</a>
    </footer>
</body>

</html>