<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        var lat = JSON.parse('{{ winery.winery_lat }}');
        var lng = JSON.parse('{{ winery.winery_long }}');Minute
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script>
        window.addEventListener('scroll', function () {
            localStorage.setItem('scrollPosition', window.scrollY);
        }, false);
        window.addEventListener('load', function () {
            if (localStorage.getItem('scrollPosition') !== null)
                window.scrollTo(0, localStorage.getItem('scrollPosition'));
        }, false);

        window.onload = timedRefresh(100000);

    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
    <header style="width:100vw;">
        <div id="title">
            <h1>DashBoard Winery {{winery.winery_id}}</h1>
            <div id="hormenu">
                <select name="period" id="period" data-theme="b" data-native-menu="false" onchange ="period_type()">
                    <option value="minute" onclick="period_type()">Minute</option>
                    <option value="day" onclick="period_type()">Day</option>
                    <option value="week" onclick="period_type()">Week</option>
                </select>
            </div>
        </div>
    </header>

    <div id='main'>
        <div id="maprep">
            <div id="map">
                <script
                    src="https://maps.googleapis.com/maps/api/js?key={{APIKEY}}&callback=initMap&language=en"></script>
            </div>
            <div id="wrapper">
                {% set c = namespace(value=0) %}
                {% for s in sensors %}
                {% if s.sensor_type == 'T' %}
                {% set unit = '°C' %}
                {% elif s.sensor_type == 'H'%}
                {% set unit = '%' %}
                {% elif s.sensor_type == 'D'%}
                {% set unit = 'cm' %}
                {% else %}
                {% set unit = 'lm' %}
                {% endif %}
                <div id="sensor_value">
                    <h3> Last {{s.sensor_type}} Value</h3>
                    {% set value = s.values|last %}
                    <h1>{{value.val}} {{unit}}</h1>
                    {% set sum = namespace(value=0) %}
                    {% set count = namespace(value=0) %}
                    {% for val in s.values %}
                    {% set count.value = count.value +1 %}
                    {% set sum.value = sum.value + val.val %}
                    {% endfor %}
                    {% set mean = sum.value / count.value %}
                    Mean {{s.sensor_type}} : {{'%0.2f'| format(mean|float)}} {{unit}}
                    {% set c.value = c.value + 10 %}
                </div>
                {% endfor %}
            </div>
            <div id="alert">
                {% set ns = namespace(value=0) %}
                <h3>Active Anomaly</h3>
                {% for s in sensors %}
                    {% if s.anomaly %}
                        {% set ns.value = 1 %}
                    <script>
                        console.log(marker)
                        console.log('{{s.anomaly.anomaly_id}}')
                        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png')
                    </script>
                    <div id={{s.anomaly.anomaly_id}}>
                        <p style="border-style: solid; border-color: rgb(14, 82, 23, .3) ;">
                            <span>&#128308;</span>
                            <a href="{{url_for('anomaly', anomaly_id = s.anomaly.anomaly_id)}}" style="color: darkred;">
                                Anomaly</a>
                            <script>
                                var anomaly = '{{s.anomaly.anomaly_id}}'
                                console.log(anomaly)
                                document.write(anomaly, " ", moment().format('MMM DD, HH:MM:SS'))
                            </script>
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}
                {% if ns.value == 1 %}
                <form method="POST" action="{{ url_for('remove_anomalys') }}">
                    <input type="hidden" name="winery_id" value = "{{winery.winery_id}}">
                    <br>
                    <button id = "remove" type="submfamilyit" >Rimuovi anomalie</button>
                </form>
                    {% set ns.value = 0 %}
                {% endif %}
            </div>
        </div>
        <!-- <h2>sensors:</h2> -->
        <div id="wrapper2">
            {% for s in sensors %}
            {% set labels = [] %}
            {% set values = [] %}
            {% set count = namespace(value=0) %}
            {% for val in s.values %}
            {% set label = val.value_id.isoformat() %}
            {{labels.append(label)|default("", True)}}
            {% set count.value = count.value +1 %}
            {% set value = val.val %}
            {{values.append(value)|default("", True)}}
            {% endfor %}
            <script>
                //console.log('{{labels}}')
            </script>
            <div id="sensor_chart">
                <canvas id='{{s.sensor_id}}'></canvas>
            </div>
            <script>
                setupVal('{{s.sensor_id}}', '{{values}}', '{{labels|tojson}}')
                createchart('{{s.sensor_id}}', document.getElementById('period').value)
            </script>

            {% endfor %}
        </div>
    </div>

    <br>


    <footer style="text-align: center; margin: 20;">
        <a href="/">Home Page</a>
    </footer>
</body>