<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        var lat = JSON.parse('{{ lat }}');
        var lng = JSON.parse('{{ lng }}');
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script>
        window.addEventListener('scroll', function () {
            //When scroll change, you save it on localStorage.
            localStorage.setItem('scrollPosition', window.scrollY);
        }, false);
        window.addEventListener('load', function () {
            if (localStorage.getItem('scrollPosition') !== null)
                window.scrollTo(0, localStorage.getItem('scrollPosition'));
        }, false);

        window.onload = timedRefresh(10000);

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</head>

<body>
    <header>
        <div id="title">
            <h1>Winery {{winery.winery_id}}</h1>
        </div>
    </header>

    <!--     <div class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div> -->

    <div id='main'>
        <div id="maprep">
            <div id="map">
                <script
                    src="https://maps.googleapis.com/maps/api/js?key={{APIKEY}}&callback=initMap&language=en"></script>
            </div>
            <div id="wrapper">

                {% set c = namespace(value=0) %}
                {% for s in sensors %}
                <div id="sensor_value">
                    <h3> Last {{s.sensor_type}} Value</h3>
                    {% set value = s.values|last %}
                    {% if s.anomaly %}
                    <a href="{{url_for('anomaly', anomaly_id = s.anomaly.anomaly_id)}}" style="color: darkred;">ANOMALIA
                        SENSORE</a>
                    <script src="script.js">
                        //cambiare colore del marcker
                    </script>
                    {%else%}
                    <h1>{{value.val}}</h1>
                    {% set sum = namespace(value=0) %}
                    {% set count = namespace(value=0) %}
                    {% for val in s.values %}
                    {% set count.value = count.value +1 %}
                    {% set sum.value = sum.value + val.val %}
                    {% endfor %}
                    {% set mean = sum.value / count.value %}
                    Mean {{s.sensor_type}} : {{mean}}
                    {% set c.value = c.value + 10 %}
                    {% endif %}
                </div>
                <!--             <div id='mean'>
                <canvas id='{{c.value}}' width="200" height="100"></canvas>
                <script>
                    var mean = '{{mean}}'
                    var ctx2 = document.getElementById("{{c.value}}");
                    var dashboardChart2 = new Chart(ctx2, {
                        type: 'doughnut',
                        data: {
                            datasets: [{
                                label: 'Mean Value',
                                data: [mean - 10, (20 - mean)],
                                backgroundColor: [
                                    "#FF6384",
                                ],
                                hoverBackgroundColor: [
                                    "#FF6384",
                                ],
                            }]

                        },
                        options: {
                            responsive: false,
                            rotation: 1 * Math.PI,/** This is where you need to work out where 89% is */
                            circumference: 1 * Math.PI,
                        },

                    });
                </script>
            </div> -->
                {% endfor %}
            </div>
        </div>
        <!-- <h2>sensors:</h2> -->
        <div id="wrapper2">
            {% for s in sensors %}
            {% set labels = [] %}
            {% set values = [] %}
            {% set count = namespace(value=0) %}
            {% for val in s.values %}
            {% set label = count.value %}
            {{labels.append(label)|default("", True)}}
            {% set count.value = count.value +1 %}
            {% set value = val.val %}
            {{values.append(value)|default("", True)}}
            {% endfor %}
            <div id="sensor_chart">
                <canvas id='{{s.sensor_id}}' style="width: 100%;"></canvas>
            </div>
            <script>
                setupVal('{{s.sensor_id}}', '{{values}}', '{{labels}}')
                createchart('{{s.sensor_id}}')
            </script>

            {% endfor %}
        </div>
    </div>

    <br>


    <footer>
        <a href="/">Home Page</a>
    </footer>
</body>